.our-programs__wrapper{
    display: flex;
    padding: 100px 0;
    
}
.ur-programs__bottom{
    display: flex;
}

.our-prog__top {
    text-align: center;
    width: 70%;
}

.our-prog__bottom_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 300px;
}

.fa-icons {
    color: RGB(121, 113, 234);
    font-size: 18px;
}

.university-about {
    display: flex;
    align-items: center;
    gap: 10px;
}